@font-face {
  font-family: "ElektraLightProRegular";
  src: url('../fonts/ElektraLightProRegular/ElektraLightProRegular.eot');
  src: local('☺'), url('../fonts/ElektraLightProRegular/ElektraLightProRegular.woff') format('woff'),
  url('../fonts/ElektraLightProRegular/ElektraLightProRegular.ttf') format('truetype'),
  url('../fonts/ElektraLightProRegular/ElektraLightProRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ElektraLightProBold";
  src: url('../fonts/ElektraLightProBold/ElektraLightProBold.eot');
  src: local('☺'), url('../fonts/ElektraLightProBold/ElektraLightProBold.woff') format('woff'),
  url('../fonts/ElektraLightProBold/ElektraLightProBold.ttf') format('truetype'),
  url('../fonts/ElektraLightProBold/ElektraLightProBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}