@font-face {
  font-family: "ElektraLightProRegular";
  src: url('../fonts/ElektraLightProRegular/ElektraLightProRegular.eot');
  src: local('☺'), url('../fonts/ElektraLightProRegular/ElektraLightProRegular.woff') format('woff'),
  url('../fonts/ElektraLightProRegular/ElektraLightProRegular.ttf') format('truetype'),
  url('../fonts/ElektraLightProRegular/ElektraLightProRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}